

.bodi {
    margin: 0 auto;
    max-width: 25em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
    text-align: left;
    line-height: 1.5;
}

#enter {
    background-color: #f44336;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1em 1em;
    margin-top: 1em;
}

#btn {
    text-align: center;
}